<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">

<!-- head Start-->
<div th:replace="fragment/head :: head"></div>
<!-- head End-->


<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


    <!-- HEADER Start -->
    <div th:replace="fragment/headerTitle :: headerTitle"></div>
    <!-- HEADER End -->

    <!-- Side Menu Start -->
    <div th:replace="fragment/sideMenu :: sideMenu(${code},${menuList})"></div>
    <!-- Side Menu End -->


    <!-- Contents-->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                파트너
                <small>파트너 관리</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>파트너</a></li>
                <li class="active">파트너 관리</li>
            </ol>
        </section>

        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">검색조건</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-3">
                                    <label for="partner_name">파트너</label>
                                    <input id="partner_name" type="text" class="form-control" placeholder="파트너명">
                                </div>
                                <div class="col-xs-3">
                                    <label for="ceo_name">대표이사</label>
                                    <input id="ceo_name" type="text" class="form-control" placeholder="대표이사">
                                </div>
                                <div class="col-xs-3">
                                    <label for="business_number">사업자 번호</label>
                                    <input id="business_number" type="text" class="form-control" placeholder="사업자 번호">
                                </div>
                            </div>
                        </div>

                        <div class="box-footer">
                            <button id="search" type="submit" class="btn btn-primary bg-light-blue-gradient pull-right">검색</button>
                        </div>
                    </div>
                </div>
            </div><!-- row end-->

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">파트너 목록</h3>
                            <button type="button" class="btn btn-primary" id="registPopupBtn" style="float: right">파트너 등록</button>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example2" class="table table-bordered table-hover dataTable"
                                               role="grid" aria-describedby="example2_info">

                                            <thead>
                                            <tr role="row">
                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                    id
                                                </th>
                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                    파트너
                                                </th>
                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                    대표이사명
                                                </th>
                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                    주소
                                                </th>
                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                    전화번호
                                                </th>
                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                    파트너 번호
                                                </th>
                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                    사업자 번호
                                                </th>
                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                    가입일
                                                </th>
                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
                                                    해지일
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody id="itemList">
                                            <tr role="row" class="odd" v-for="(dto, index) in itemList" v-on:click="click(itemList[index].id)">
                                                <td class="text-center">{{dto.id}}</td>
                                                <td class="text-center">{{dto.name}}</td>
                                                <td class="text-center">{{dto.ceo_name}}</td>
                                                <td class="text-center">{{dto.address}}</td>
                                                <td class="text-center">{{dto.call_center}}</td>
                                                <td class="text-center">{{dto.partner_number}}</td>
                                                <td class="text-center">{{dto.business_number}}</td>
                                                <td class="text-center">{{dto.registered_at}}</td>
                                                <td class="text-center">{{dto.unregistered_at}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div id="showPage" class="dataTables_info" role="status" aria-live="polite">
                                            Showing {{currentPage}} to 10 of {{totalElements}} entries
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="pageBtn">
                                            <ul class="pagination">
                                                <li class="paginate_button previous" id="previousBtn">
                                                    <a href="javascript:;" v-on:click="previousClick()">이전</a>
                                                </li>

                                                <li class="paginate_button" v-for="btn in btnList" v-bind:btn_id="btn" v-on:click="indexClick(btn)">
                                                    <a href="javascript:;" aria-controls="example2">{{btn}}</a>
                                                </li>

                                                <li class="paginate_button next" id="nextBtn">
                                                    <a href="javascript:;" v-on:click="nextClick()">다음</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <!-- Regist Modal Popup Start -->
        <div id="partnerRegistModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"> <!--style="display: none;"-->
            <div class="modal-dialog modal-default-layout" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="registCloseModalTopBtn" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h2 class="modal-title modal-center" id="myModalLabel">파트너 등록</h2>
                    </div>
                    <form id="registForm" class="modal-form">
                        <div class="modal-body">
                            <table id="registTable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                <tbody>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        파트너명
                                        <span style="color: #FF5B6B;">&nbsp;*</span>
                                    </th>
                                </tr>
                                <tr role="row" class="modal-tr odd">
                                    <td class="text-left">
                                        <input type="text" id="reg_name" name="name" class="inputV3">
                                        <input type="hidden" id="reg_status" name="status">
                                    </td>
                                </tr>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        분류
                                        <span style="color: #FF5B6B;">&nbsp;*</span>
                                    </th>
                                </tr>
                                <tr role="row" class=" modal-tr odd">
                                    <td class="text-left">
                                        <select id="reg_category_id" name="category_id" class="selectV3">
                                            <option value="" selected disabled hidden>선택</option>
                                            <option value="1">컴퓨터-전자제품</option>
                                            <option value="2">의류</option>
                                            <option value="3">멀티샵</option>
                                            <option value="4">인테리어</option>
                                            <option value="5">음식</option>
                                            <option value="6">스포츠</option>
                                            <option value="7">쇼핑몰</option>
                                            <option value="8">면세점</option>
                                            <option value="9">화장품</option>
                                            <option value="10">기타</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        대표이사
                                        <span style="color: #FF5B6B;">&nbsp;*</span>
                                    </th>
                                </tr>
                                <tr role="row" class="modal-tr odd">
                                    <td class="text-left">
                                        <input type="text" id="reg_ceo_name" name="ceo_name" class="inputV3">
                                    </td>
                                </tr>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        주소
                                        <span style="color: #FF5B6B;">&nbsp;*</span>
                                    </th>
                                </tr>
                                <tr role="row" class="modal-tr odd">
                                    <td class="text-left">
                                        <input type="text" id="reg_address" name="address" class="inputV3">
                                    </td>
                                </tr>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        콜센터
                                        <span style="color: #FF5B6B;">&nbsp;*</span>
                                    </th>
                                </tr>
                                <tr role="row" class="modal-tr odd">
                                    <td class="text-left">
                                        <input type="text" id="reg_call_center" name="call_center" class="inputV3">
                                    </td>
                                </tr>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        파트너 번호
                                        <span style="color: #FF5B6B;">&nbsp;*</span>
                                    </th>
                                </tr>
                                <tr role="row" class="modal-tr odd">
                                    <td class="text-left">
                                        <input type="text" id="reg_partner_number" name="partner_number" class="inputV3">
                                    </td>
                                </tr>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        사업자 번호
                                        <span style="color: #FF5B6B;">&nbsp;*</span>
                                    </th>
                                </tr>
                                <tr role="row" class="modal-tr odd">
                                    <td class="text-left">
                                        <input type="text" id="reg_business_number" name="business_number" class="inputV3">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="modal-footer" style="text-align: center;">
                        <button type="button" class="btn btn-primary btn-wide" id="registBtn">등록</button>
                        <!--<button type="button" class="btn btn-default" id="registCloseModalBtn">취소</button>-->
                    </div>
                </div>
            </div>
        </div>
        <!--</script>-->
        <!-- Regist Modal Popup End -->

        <!-- Modify Modal Popup Start -->
        <!--<script type="text/x-template" id="modify-template">-->
        <div id="partnerModifyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"> <!--style="display: none;"-->
            <div class="modal-dialog modal-default-layout" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="modifyCloseModalTopBtn" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h2 class="modal-title modal-center">파트너 상세</h2>
                    </div>
                    <form id="modifyForm" class="modal-form">
                        <div class="modal-body" id="adminModifyTableDiv">
                            <table id="modifyTable" class="table table-bordered table-hover dataTable" role="grid"
                                   aria-describedby="example2_info">
                                <tbody>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        파트너
                                        <span style="color: #FF5B6B;">&nbsp;*</span>
                                    </th>
                                </tr>
                                <tr role="row" class="modal-tr odd">
                                    <td class="text-left">
                                        <input type="text" id="mod_name" name="name" class="inputV3"> <!--v-model="account"-->
                                        <input type="hidden" id="mod_id" name="id">
                                        <input type="hidden" id="mod_status" name="status">
                                    </td>
                                </tr>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        분류
                                        <span style="color: #FF5B6B;">&nbsp;*</span>
                                    </th>
                                </tr>
                                <tr role="row" class=" modal-tr odd">
                                    <td class="text-left">
                                        <select id="mod_category_id" name="category_id" class="selectV3">
                                            <option value="" disabled>선택</option>
                                            <option value="1">컴퓨터-전자제품</option>
                                            <option value="2">의류</option>
                                            <option value="3">멀티샵</option>
                                            <option value="4">인테리어</option>
                                            <option value="5">음식</option>
                                            <option value="6">스포츠</option>
                                            <option value="7">쇼핑몰</option>
                                            <option value="8">면세점</option>
                                            <option value="9">화장품</option>
                                            <option value="10">기타</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        대표이사
                                        <span style="color: #FF5B6B;">&nbsp;*</span>
                                    </th>
                                </tr>
                                <tr role="row" class="modal-tr odd">
                                    <td class="text-left">
                                        <input type="text" id="mod_ceo_name" name="ceo_name" class="inputV3">
                                    </td>
                                </tr>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        주소
                                        <span style="color: #FF5B6B;">&nbsp;*</span>
                                    </th>
                                </tr>
                                <tr role="row" class="modal-tr odd">
                                    <td class="text-left">
                                        <input type="text" id="mod_address" name="address" class="inputV3">
                                    </td>
                                </tr>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        콜센터
                                        <span style="color: #FF5B6B;">&nbsp;*</span>
                                    </th>
                                </tr>
                                <tr role="row" class="modal-tr odd">
                                    <td class="text-left">
                                        <input type="text" id="mod_call_center" name="call_center" class="inputV3">
                                    </td>
                                </tr>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        파트너 번호
                                        <span style="color: #FF5B6B;">&nbsp;*</span>
                                    </th>
                                </tr>
                                <tr role="row" class="modal-tr odd">
                                    <td class="text-left">
                                        <input type="text" id="mod_partner_number" name="partner_number" class="inputV3">
                                    </td>
                                </tr>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        사업자 번호
                                        <span style="color: #FF5B6B;">&nbsp;*</span>
                                    </th>
                                </tr>
                                <tr role="row" class="modal-tr odd">
                                    <td class="text-left">
                                        <input type="text" id="mod_business_number" name="business_number" class="inputV3">
                                    </td>
                                </tr>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        가입일
                                    </th>
                                </tr>
                                <tr role="row" class="modal-tr odd">
                                    <td class="text-left">
                                            <span id="mod_registered_at">
                                                <!--{{registered_at}}-->
                                            </span>
                                        <br>
                                    </td>
                                </tr>
                                <tr role="row">
                                    <th class="text-left modal-table-th" tabindex="0" rowspan="1" colspan="1">
                                        해지일
                                    </th>
                                </tr>
                                <tr role="row" class="modal-tr odd">
                                    <td class="text-left">
                                            <span id="mod_unregistered_at">
                                                <!--{{registered_at}}-->
                                            </span>
                                        <br>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="modifyBtn">수정</button>
                        <button type="button" class="btn btn-warning" id="deleteBtn">삭제</button>
                        <button type="button" class="btn btn" id="modifyCloseModalBtn">취소</button>
                    </div>
                </div>
            </div>
        </div>
        <!--</script>-->
        <!-- Modify Modal Popup End -->

    </div>
    <!-- Content End -->

    <!-- Footer Start -->
    <div th:replace="fragment/footer :: footer"></div>
    <!-- Footer End -->

    <!-- controlSidebar Start -->
    <div th:replace="fragment/controlSidebar :: controlSidebar"></div>
    <!-- controlSidebar End -->


    <div class="control-sidebar-bg"></div>
</div>


<script src="/app/partner/partner.js"></script>
</body>
</html>